/*
* @description: right sidebar style
* @author: glx
* @update: V.0.0.1 (2015-12-28 10:45)
*/

.sidebar {
  position: fixed;
  right:$number-base * 1.5;
  top:$number-base * 18.5;
  border:$border-base #aaaeb0;
  background-color: $white;
  .sidebar-tool {
    padding: $padding-base-vertical*1.3 $padding-base-horizontal;
    font-size:$font20;
    border:$border-base #aaaeb0;
    cursor: pointer;
    &:hover{
      background-color: $red;
      color:$white;
    }
  }
}




