.debts-banner{
  @include size(100%,557px);
  background: url("#{$icon-path}#{invest}.jpg") center top #de5e40;
  .debts-infor{
    @include square(416px);
    margin: 0 auto;
    color: $white;
    line-height: $line-height-base * 2;
    font-size: $font18;
    li{
      border-bottom: $border-base rgba(255,255,255,0.5);
      textarea{
        @include size(300px,120px);
        margin-left: $number-base * 5;
        color: $gray-base;
        line-height: $line-height-normal;
        background: none;
        border: none;
        outline: none;
        color: $white;
        resize: none;
      }
      input{
        @include size(306px,auto);
        background: none;
        border: none;
        outline: none;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
        margin: 0;
      }
      input[type="number"]{
        -moz-appearance:textfield;
      }
      label{
        font-weight:normal;
      }
    }
    li.debts-infor-title{
      font-size: $font-size-base * 2.2;
      border-bottom: none;
    }
    li.debts-infor-describtion{
      border-bottom: none;
    }
  }
}
.button-submit{
  @include size(160px, 70px);
  margin: 0 auto;
  button{
    @include size(148px, 56px);
    margin:38px 0 0 185px;
    line-height: 56px;
    font-size: $font-size-base * 2.2;
    border-radius: 10px;
    color: #fff;
    background: none;
    border:$border-base $white;
    transform:rotate(-12deg);
    -ms-transform:rotate(-12deg);
    -moz-transform:rotate(-12deg);
    -webkit-transform:rotate(-12deg);
    -o-transform:rotate(-12deg);
    outline: none;
  }

}
.borrowing-process{
  width: 100%;
  background: $gray-lightest;
  padding:$padding-base-horizontal * 1.5 0 $padding-base-horizontal 0;
  .container:nth-child(1){
    div{
      padding: $padding-large-horizontal * 1.2;
      font-size: $font24;
      background: $white;
      .borrowing-process-title{
        margin-bottom: 37px;
        i{
          @include square(24px);
          font-size: $font16;
          line-height: ceil(($line-height-computed * 1.7));
          background: #f4756f;
          color: $white;
          border-radius: $border-radius-base;
          margin-right: 15px;
        }
        i,em{
          vertical-align: middle;
        }
      }
      li{
        i,cite,em{
          vertical-align: middle;
        }
        em{
          font-size: $font-size-base * 5;
          color: $gray-light;
          font-style: italic;
          padding-right: $padding-base-vertical * 2.7;
        }
        i{
          font-style: italic;
          color: $gray-dark;
          font-size: $font-size-base * 2.2;
          line-height: $line-height-normal;
        }
        cite{
          color: $gray-lighter;
        }
      }
    }
  }
  .container:nth-child(2){
    margin-top: 16px;
    background-color: transparent;
    li{
      div{
        height: 235px;
        background-color: $white;
        padding: $padding-base-vertical * 2;
        line-height: $line-height-base * 1.2;
        font-size: $font16;
        span{
          font-size: $font24;
          margin-bottom: 15px;
          i{
            @include square(24px);
            font-size: $font16;
            line-height: ceil(($line-height-computed * 1.7));
            color: $white;
            border-radius: $border-radius-base;
            margin-right: 15px;
          }
        }
      }
      &:nth-child(1) i{
        background-color: #e54c64;
      }
      &:nth-child(2) i{
        background-color: #1ebba6;
      }
      &:nth-child(3) i{
        background-color: #4fc4f5;
      }
    }
  }
}





